<p>Hola, {{user.nombre}}</p>

{{#if isTutor}}
{{#each cursos}}
<div>
    <p>{{this.numero}}</p>
    <p>{{this.nombre}}</p>
    <p>{{this.dia}}</p>
</div>
{{/each}}
{{else}}
<p>No sos tutor</p>
{{/if}}